@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.app,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  @apply bg-gray-500;
  @apply text-gray-900;
  @apply font-sans;
  @apply text-sm;
}